{% extends "blog/base.html" %}
{% block home %}
    <span class="sr-only">(current)</span>
{% endblock home %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body jumbotron">
                <h2 class="article-title text-dark">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
                <hr class="my-4">
                <div class="article-metadata">
                    <a class="mr-2 text-primary" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}