{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section jumbotron row">
        <img class="rounded-circle col-md-2" src="{{ object.author.profile.image.url }}" width="80" height="80"  alt="Profile Image"/>
        <div class="media-body media-body col-md-10">
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <hr class="my-4">
            <div class="article-metadata">
                <a class="mr-2 text-primary" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <div>
                {% if object.author == user %}
                    <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}